<!DOCTYPE html>
<html>
<head>
    <title>Casamayorga - {% block title %}{% endblock %}</title>
    <!--meta-->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="keywords" content="Medic, Medical Center" />
    <meta name="description" content="Responsive Medical Health Template" />
    <!--style-->
    <link href='{{ asset('template/css/sans.css') }}' rel='stylesheet' type='text/css'>
    <link href='{{ asset('template/css/italic.css') }}' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ asset('template/style/reset.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('template/style/superfish.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('template/style/fancybox/jquery.fancybox.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('template/style/jquery.qtip.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('template/style/jquery-ui-1.9.2.custom.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('template/style/style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('template/style/responsive.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('template/style/animations.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('plugins/font-awesome/css/font-awesome.min.css') }}" />

    <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
    <!--<link rel="shortcut icon" href="images/favicon.ico" />-->
    <link rel="icon" type="image/x-icon" href="{{ asset('template/favicon.ico') }}" />


    {% block stylesheets %}{% endblock %}
</head>
<body>
    <div class="site_container">
        <!-- start header-->
        {{ include('common/header.html.twig') }}
        <!-- end header-->
        <div class="barstatus">
            <div class="titledivs">
                <h3>
                    {% block titlePage %}
                        Pagina de Inicio
                    {% endblock %}
                </h3>
            </div>
            <div class="breadcrumbs">
                {% block breadcrumbs %}

                {% endblock %}
            </div>
            <div class="clear"></div>

        </div>
        {% block body %}{% endblock %}
        <!-- start footer-->
        {{ include('common/footer.html.twig') }}
        <!-- end footer-->
    </div>
    <!--js-->
    <script type="text/javascript" src="{{ asset('template/js/jquery-1.12.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('template/js/jquery-migrate-1.4.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('template/js/jquery.ba-bbq.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('template/js/jquery-ui-1.9.2.custom.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('template/js/jquery.easing.1.3.js') }}"></script>
    <script type="text/javascript" src="{{ asset('template/js/jquery.carouFredSel-5.6.4-packed.js') }}"></script>
    <script type="text/javascript" src="{{ asset('template/js/jquery.sliderControl.js') }}"></script>
    <script type="text/javascript" src="{{ asset('template/js/jquery.timeago.js') }}"></script>
    <script type="text/javascript" src="{{ asset('template/js/jquery.hint.js') }}"></script>
    <script type="text/javascript" src="{{ asset('template/js/jquery.isotope.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('template/js/jquery.isotope.masonry.js') }}"></script>
    <script type="text/javascript" src="{{ asset('template/js/jquery.fancybox-1.3.4.pack.js') }}"></script>
    <script type="text/javascript" src="{{ asset('template/js/jquery.qtip.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('template/js/jquery.blockUI.js') }}"></script>
    <script type="text/javascript" src="{{ asset('template/js/main.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>

