{% extends 'base.html.twig' %}
{% block title %}Inicio{% endblock %}

{% block titlePage %}
   Pagina de Inicio
{% endblock %}
{% block breadcrumbs %}
   <i class="fa fa-home" aria-hidden="true"></i><a href="#" style="text-decoration: underline; margin-left: 4px;">Inicio</a>
{% endblock %}

{% block body %}



    {{ include('common/slider.html.twig') }}
   <div class="page relative noborder">
      <!--<div class="top_hint">
          Give us a call: +123 356 123 124
      </div>-->
      <!-- slider content -->
      <div class="slider_content_box clearfix">
         <div class="slider_content" style="display: block;">
            <h1 class="title">
               Profesionales<br /> con expericia
            </h1>
            <h2 class="subtitle">
               Contamos con un gran equipo<br />
               de trabajo, capacitado y especializado.
            </h2>
         </div>
         <div class="slider_content">
            <h1 class="title">
               Equipos sofisticados<br />
               para tu rehabilitacion
            </h1>
            <h2 class="subtitle">
               Tenemos lo necesario<br />
               para una optima recuperación
            </h2>
         </div>
         <div class="slider_content">
            <h1 class="title">
               Tratamientos<br />
               Intensivos
            </h1>
            <h2 class="subtitle">
               Contamos con tratamientos <br />
               intensivos para una rehabilitacion rapida.
            </h2>
         </div>
         <!--<div class="slider_navigation">
             <div class="slider_bar"></div>
             <a class="slider_control" id="slide_1_control" href="#" title="1">
                 <span class="top_border"></span>
                 <span class="slider_control_bar"></span>
                 1
             </a>
             <a class="slider_control" id="slide_2_control" href="#" title="2">
                 <span class="top_border"></span>
                 <span class="slider_control_bar"></span>
                 2
             </a>
             <a class="slider_control" id="slide_3_control" href="#" title="3">
                 <span class="top_border"></span>
                 <span class="slider_control_bar"></span>
                 3
             </a>
         </div>-->
      </div>
      <!-- home box -->
      <ul class="home_box_container clearfix">
         <li class="home_box light_blue animated_element animation-fadeIn duration-500">
            <h2>
               <a href="#" title="Emergency Case">
                  Caso de emergencia
               </a>
            </h2>
            <div class="news clearfix">
               <p class="text justify">
                  Si necesita urgentemente un especialista fuera del horario de atención médica, llame al número de emergencia para el servicio de emergencia.
               </p>
               <a class="more light icon_small_arrow margin_right_white" href="{{ path('construccion') }}" title="Read more">Leer más</a>
            </div>
         </li>
         <li class="home_box blue animated_element animation-slideRight duration-800 delay-250">
            <h2>
               <a href="#" title="Doctors Timetable">
                  Horario de especialistas
               </a>
            </h2>
            <div class="news clearfix">
               <p class="text justify">
                  Aquí en casamayorga tenemos listas de especialistas individuales. Haga clic en leer más abajo para ver los servicios y el horario actual de nuestros especialistas.
               </p>
               <a class="more light icon_small_arrow margin_right_white" href="{{ path('construccion') }}" title="Read more">Leer más</a>
            </div>
         </li>
         <li class="home_box dark_blue animated_element animation-slideRight200 duration-800 delay-500">
            <h2>
               Horarios de Atención
            </h2>
            <ul class="items_list thin dark_blue opening_hours">
               <li class="clearfix">
								<span>
									Lunes - Viernes
								</span>
                  <div class="value">
                     8:00 a.m - 5:00 p.m
                  </div>
               </li>
               <li class="clearfix">
								<span>
									Sabado
								</span>
                  <div class="value">
                     9:00 a.m - 5:00 pm
                  </div>
               </li>
               <li class="clearfix">
								<span>
									Festivos
								</span>
                  <div class="value">
                     10:00 am - 15:00 p.m
                  </div>
               </li>
            </ul>
         </li>
      </ul>
      <div class="page_layout page_margin_top clearfix">
         <div class="page_left">
            <h3 class="box_header">
               Ultimas noticias
            </h3>
            <div class="columns clearfix">
               <ul class="blog column_left">
                  <li class="post">
                     <ul class="comment_box clearfix">
                        <li class="date">
                           <div class="value">12 SEP 17</div>
                           <div class="arrow_date"></div>
                        </li>
                        <li class="comments_number">
                           <a href{{ path('construccion') }}" title="2 comments">
                              2
                           </a>
                        </li>
                     </ul>
                     <div class="post_content">
                        <a class="post_image" href="#" title="Lorem ipsum dolor sit amat velum">
                           <img src="{{ asset('template/images/samples/480x300/image_03.jpg')}}" alt="" />
                        </a>
                        <h2>
                           <a href="#" title="Lorem ipsum dolor sit amat velum">
                              Jornada de terapia infantil
                           </a>
                        </h2>
                        <p class="justify">
                           Casa mayorga dispone en este viernes la gran jornada de fisioterapia con un descuento de 50%, para niños y adolescentes
                        </p>
                        <!--<div class="post_footer">
                           <ul class="post_footer_details">
                              <li>Posted in </li>
                              <li>
                                 <a href="#" title="General">
                                    General,
                                 </a>
                              </li>
                              <li>
                                 <a href="#" title="Dental clinic">
                                    Dental clinic
                                 </a>
                              </li>
                           </ul>
                        </div>-->
                     </div>
                  </li>
                  <li class="post">
                     <ul class="comment_box clearfix">
                        <li class="date">
                           <div class="value">22 JUL 17</div>
                           <div class="arrow_date"></div>
                        </li>
                        <li class="comments_number">
                           <a href="{{ path('construccion') }}" title="8 comments">
                              8
                           </a>
                        </li>
                     </ul>
                     <div class="post_content">
                        <h2>
                           <a href="#" title="Lorem ipsum dolor sit amat velum">
                              Nuevo tratamiento para la piel
                           </a>
                        </h2>
                        <p class="justify">
                           Casamayorga se enorgullece de poner a su disposicion el nuevo tratemiento para la piel. El cual elimina las lesiones postoperación, eliminando las cicatrices y las arrugas.
                           aprovecha las propiedades de los aceites esenciales extraídos de las plantas aromáticas, para restablecer el equilibrio y armonía del cuerpo y de la mente para beneficio de nuestra salud y belleza
                        </p>
                        <!--
                        <div class="post_footer">
                           <ul class="post_footer_details">
                              <li>Posted in</li>
                              <li>
                                 <a href="#" title="General">
                                    General,
                                 </a>
                              </li>
                              <li>
                                 <a href="#" title="Outpatient surgery">
                                    Outpatient surgery
                                 </a>
                              </li>
                           </ul>
                        </div>-->
                     </div>
                  </li>
               </ul>
               <ul class="blog column_right">
                  <li class="post">
                     <ul class="comment_box clearfix">
                        <li class="date">
                           <div class="value">12 DIC 16</div>
                           <div class="arrow_date"></div>
                        </li>
                        <li class="comments_number">
                           <a href="{{ path('construccion') }}" title="3 comments">
                              3
                           </a>
                        </li>
                     </ul>
                     <div class="post_content">
                        <h2>
                           <a href="#" title="Lorem ipsum dolor sit amat velum">
                              Tratamiento Bioestimulación
                           </a>
                        </h2>
                        <p class="justify">
                           Consiste en la regeneración o reparación de los tejidos mediante la activación de las células del tejido conjuntivo que producen colágeno, elastina y ácido hialurónico
                        </p>
                        <!--
                        <div class="post_footer">
                           <ul class="post_footer_details">
                              <li>Posted in </li>
                              <li>
                                 <a href="#" title="General">
                                    General,
                                 </a>
                              </li>
                              <li>
                                 <a href="#" title="Dental clinic">
                                    Dental clinic
                                 </a>
                              </li>
                           </ul>
                        </div>-->
                     </div>
                  </li>
                  <li class="post">
                     <ul class="comment_box clearfix">
                        <li class="date">
                           <div class="value">3 OCT 17</div>
                           <div class="arrow_date"></div>
                        </li>
                        <li class="comments_number">
                           <a href="{{ path('construccion') }}" title="5 comments">
                              5
                           </a>
                        </li>
                     </ul>
                     <div class="post_content">
                        <a class="post_image" href="#" title="Lorem ipsum dolor sit amat velum">
                           <img src="{{ asset('img/natura.jpg')}}" alt="" />
                        </a>
                        <h2>
                           <a href="#" title="Lorem ipsum dolor sit amat velum">
                              Aceites naturales para la piel
                           </a>
                        </h2>
                        <p class="justify">
                           En Casamayorga poseemos los mejores tratamientos para la piel, acercate a nuestras instalaciones, o llamanos y un especialista te diagnosticara y recomenada el mejor tratamiento para ti.
                        </p>
                        <!--
                        <div class="post_footer">
                           <ul class="post_footer_details">
                              <li>Posted in</li>
                              <li>
                                 <a href="#" title="General">
                                    General,
                                 </a>
                              </li>
                              <li>
                                 <a href="#" title="Outpatient surgery">
                                    Outpatient surgery
                                 </a>
                              </li>
                           </ul>
                        </div>-->
                     </div>
                  </li>
               </ul>
            </div>
            <div class="show_all clearfix">
               <a class="more" href="{{ path('construccion') }}" title="Show all">
                  Ver todas &rarr;
               </a>
            </div>
         </div>
         <div class="page_right">
            <div class="sidebar_box first">
               <h3 class="box_header">
                  Servicios
               </h3>
               <ul class="accordion">
                  <li>
                     <div id="accordion-primary-health-care">
                        <h3>Cavitación Tripolar</h3>
                     </div>
                     <div class="clearfix">
                        <div class="item_content clearfix">
                           <a class="thumb_image" href="#" title="Primary Health Care">
                              <img src="{{ asset('template/images/samples/75x75/image_08.jpg')}}" alt="" />
                           </a>
                           <p class="justify">
                              En el tratamiento de una contractura muscular, vamos a actuar desde diferentes puntos de vista, pero el primero y más importante es identificar el factor que lo origina. Esto lo conseguimos a través de la historia clínica

                           </p>
                        </div>
                        <div class="item_footer clearfix">
                           <a class="more blue icon_small_arrow margin_right_white" href="{{ path('construccion') }}" title="Details">Detalles</a>
                        </div>
                     </div>
                  </li>
                  <li>
                     <div id="accordion-pediatric-clinic">
                        <h3>Carboxiterapia</h3>
                     </div>
                     <div class="clearfix">
                        <div class="item_content clearfix">
                           <a class="thumb_image" href="#" title="Pediatric Clinic">
                              <img src="{{ asset('template/images/samples/75x75/image_05.jpg')}}" alt="" />
                           </a>
                           <p class="justify">
                              El linfedema es la secuela más frecuente tras una linfadenectomía, para su tratamiento se aplica terapia descongestiva en la que se combina el drenaje linfático manual, las medidas de cimpresión, cinesiterapia descongestiva y los cuidados de la piel
                           </p>
                        </div>
                        <div class="item_footer clearfix">
                           <a class="more blue icon_small_arrow margin_right_white" href="{{ path('construccion') }}" title="Details">Detalles</a>
                        </div>
                     </div>
                  </li>
                  <li>
                     <div id="accordion-outpatient-surgery">
                        <h3>Corrientes rusas</h3>
                     </div>
                     <div class="clearfix">
                        <div class="item_content clearfix">
                           <a class="thumb_image" href="#" title="Outpatient Surgery">
                              <img src="{{ asset('template/images/samples/75x75/image_07.jpg')}}" alt="" />
                           </a>
                           <p class="justify">
                              Tonificación, tensión, drenaje linfático corporal, combate celulitis, efecto reductor y reafirmante. Desarrollo muscular, mejora la circulación. Acondicionamiento físico
                           </p>
                        </div>
                        <div class="item_footer clearfix">
                           <a class="more blue icon_small_arrow margin_right_white" href="{{ path('construccion') }}" title="Details">Detalles</a>
                        </div>
                     </div>
                  </li>
                  <li>
                     <div id="accordion-gynaecological-clinic">
                        <h3>Presoterapia</h3>
                     </div>
                     <div class="clearfix">
                        <div class="item_content clearfix">
                           <a class="thumb_image" href="#" title="Gynaecological Clinic">
                              <img src="{{ asset('template/images/samples/75x75/image_01.jpg')}}" alt="" />
                           </a>
                           <p class="justify">
                              Impide la acumulación de bolsas de grasa debajo de la piel y dandole una apariencia más suave.
                           </p>
                        </div>
                        <div class="item_footer clearfix">
                           <a class="more blue icon_small_arrow margin_right_white" href="{{ path('construccion') }}" title="Details">Detalles</a>
                        </div>
                     </div>
                  </li>
                  <li>
                     <div id="accordion-cardiac-clinic">
                        <h3>Colonterapia o Hidroterapia del colón</h3>
                     </div>
                     <div class="clearfix">
                        <div class="item_content clearfix">
                           <a class="thumb_image" href="#" title="Cardiac Clinic">
                              <img src="{{ asset('template/images/samples/75x75/image_04.jpg') }}" alt="" />
                           </a>
                           <p class="justify">
                              Desintoxicación del colón y todo el organismo.Limpiar o liberar la mucosa intestinal de todas las sustancias que se van acumulando
                           </p>
                        </div>
                        <div class="item_footer clearfix">
                           <a class="more blue icon_small_arrow margin_right_white" href="{{ path('construccion') }}" title="Details">Detalles</a>
                        </div>
                     </div>
                  </li>
                  <li>
                     <div id="accordion-laryngological-clinic">
                        <h3>Postquirurgico</h3>
                     </div>
                     <div class="clearfix">
                        <div class="item_content clearfix">
                           <a class="thumb_image" href="#" title="Laryngological Clinic">
                              <img src="{{ asset('template/images/samples/75x75/image_08.jpg')}}" alt="" />
                           </a>
                           <p class="justify">
                              Drenaje linfático, recomendación de fajas, mangas, bandas de silicona,  cremas para morados, tablas acolchadas y brassieres.
                           </p>
                        </div>
                        <div class="item_footer clearfix">
                           <a class="more blue icon_small_arrow margin_right_white" href="{{ path('construccion') }}" title="Details">Detalles</a>
                        </div>
                     </div>
                  </li>
                  <li>
                     <div id="accordion-ophthalmology-clinic">
                        <h3>Cavitación Tripolar</h3>
                     </div>
                     <div class="clearfix">
                        <div class="item_content clearfix">
                           <a class="thumb_image" href="#" title="Ophthalmology Clinic">
                              <img src="{{ asset('template/images/samples/75x75/image_06.jpg')}}" alt="" />
                           </a>
                           <p class="justify">
                              Bioestimulación - Consiste en la regeneración o reparación de los tejidos mediante la activación de las células del tejido conjuntivo que producen colágeno, elastina y ácido hialurónico
                           </p>
                        </div>
                        <div class="item_footer clearfix">

                           <a class="more blue icon_small_arrow margin_right_white" href="{{ path('construccion') }}" title="Details">Detalles</a>
                        </div>
                     </div>
                  </li>
                  <li>
                     <div id="accordion-dental-clinic">
                        <h3>Aromaterapia y limpieza facial profunda</h3>
                     </div>
                     <div class="clearfix">
                        <div class="item_content clearfix">
                           <a class="thumb_image" href="#" title="Dental Clinic">
                              <img src="{{ asset('template/images/samples/75x75/image_03.jpg')}}" alt="" />
                           </a>
                           <p class="justify">
                              aprovecha las propiedades de los aceites esenciales extraídos de las plantas aromáticas, para restablecer el equilibrio y armonía del cuerpo y de la mente para beneficio de nuestra salud y belleza
                           </p>
                        </div>
                        <div class="item_footer clearfix">
                           <a class="more blue icon_small_arrow margin_right_white" href="{{ path('construccion') }}c" title="Details">Detalles</a>
                        </div>
                     </div>
                  </li>
                  <li>
                     <div id="accordion-outpatient-rehabilitation">
                        <h3>Microdermoabrasión</h3>
                     </div>
                     <div class="clearfix">
                        <div class="item_content clearfix">
                           <a class="thumb_image" href="#" title="Outpatient Rehabilitation">
                              <img src="{{ asset('template/images/samples/75x75/image_05.jpg')}}" alt="" />
                           </a>
                           <p class="justify">
                              Eliminar celulas muertas e impurezas, atenuar cicatrices y arrugas superficiales. Utiliza puntas de diamante que sin dolor eliminan las células muertas más superficiales de la piel.
                           </p>
                        </div>
                        <div class="item_footer clearfix">
                           <a class="more blue icon_small_arrow margin_right_white" href="{{ path('construccion') }}" title="Details">Detalles</a>
                        </div>
                     </div>
                  </li>
               </ul>
            </div>
            <div class="sidebar_box">
               <h3 class="box_header">
                  Servicio a domicilio, pidelo ahora
               </h3>
               <p class="info" >
                  Estas en tu casa o no puedes moverte, tranquilo contactanos y te atenderemos lo mas pronto posible.
               </p>
               <ul class="contact_data">
                  <li class="clearfix">
                     <span class="social_icon phone"></span>
                     <p class="value">
                        Telefono: <strong>+57 5800490</strong>
                     </p>
                  </li>
                  <li class="clearfix">
                     <span class="social_icon mail"></span>
                     <p class="value">
                        E-mail: <a href="mailto:contactenos@casamayorga.com">contactenos@casamayorga.com</a>
                     </p>
                  </li>
                  <li class="clearfix">
                     <span class="social_icon form"></span>
                     <p class="value">
                        o <a href="{{ path('contactar') }}" title="Contact form">diligencia el formulario </a> de contacto
                     </p>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}


