{% extends 'base.html.twig' %}
{% block title %}Quienes somos{% endblock %}
{% block titlePage %}
    Quienes Somos
{% endblock %}
{% block breadcrumbs %}
    <i class="fa fa-home" aria-hidden="true"></i><a href="" style="text-decoration: underline; margin-left: 4px;">Inicio</a>
    <i class="fa fa-angle-right" aria-hidden="true"></i>
    <a href="{{ path('quienessomos') }}" style="text-decoration: underline; margin-left: 4px;">Sobre nosotros</a>
{% endblock %}
{% block body %}
<div class="page relative">
    <div class="page_layout page_margin_top clearfix">
        <div class="page_header clearfix">
            <div class="page_header_left">
                <h1 class="page_title">Quienes somos</h1>
               <!---<ul class="bread_crumb">
                    <li>
                        <a href="home.html" title="Home">
                            Home
                        </a>
                    </li>
                    <li class="separator icon_small_arrow right_gray">
                        &nbsp;
                    </li>
                    <li>
                        About
                    </li>
                </ul>-->
            </div>

        </div>
        <div class="clearfix">
            <div class="gallery_item_details_list clearfix page_margin_top">
                <div class="gallery_item_details clearfix">
                    <div class="columns no_width">
                        <h2>
                            Bienvenido a Casamayorga
                        </h2>
                        <div class="column_left">

                            <div class="details_box">

                                <p class="justify">
                                    <strogn style="font-weight: bold;">Misión</strogn>
                                    <br>
                                    Trabajamos de manera integral en la imagen y bienestar de nuestros usuarios usando técnicas innovadoras y siguiendo estándares internacionales de calidad para crear estilos únicos con resultados visibles y seguros, construyendo relaciones de confianza y beneficio mutuo;  con el cliente como elemento principal para la prestación de nuestros servicios y oferta de productos para el mejoramiento de la apariencia personal y el equilibrio individual aplicando criterios de sostenibilidad.

                                </p>
                            </div>
                        </div>
                        <div class="column_right">
                            <div class="details_box">

                                <p class="justify">
                                    <strogn style="font-weight: bold;">Visión</strogn>
                                    <br>
                                    <strogn style="font-weight: bold;">CENTRO INTEGRAL DE ESTÉTICA Y CUIDADO POSTQUIRÚRGICO  CASA MAYORGA </strogn> en 2020 será una empresa líder en Colombia en la categoría de SPA y cuidado postquirúrgico, comprometida con el bienestar y armonía individual que se soporta en el servicio al cliente, la formación continua y la excelencia en sus productos y servicios contando con un equipo altamente calificado y con sentido de pertenencia que dirige sus esfuerzos en la satisfacción, el acompañamiento médico y la seguridad en los procedimientos con soluciones integrales para nuestros usuarios con criterios de producción limpia.

                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns page_margin_top full_width clearfix">
                <h3 class="box_header">
                    Porque escoger Casamayorga
                </h3>

                <div class="column_left">
                    <p class="justify">
                        Estamos en la capacidad de ejecutar una operación rentable, innovadora y sostenible que contribuya al desarrollo económico del sector de servicios en el municipio de Valledupar, fortaleciendo sus capacidades competitivas, particularmente en la prestación de servicios de belleza y salud, con orientación al servicio al cliente, teniendo como eje principal las personas, definiendo estilos personales con resultados visibles, confiables y seguros.
                    </p>


                        <img src="{{ asset('img/trabajo.jpg') }}" alt="" width="450px" height="350px" style="margin-top:10px; ">

                    <!--<img src="{{ asset('template/images/samples/image_03.jpg') }}" width="410px" alt="">-->
                </div>
                <div class="column_right">
                    <h3 class="box_header" style="margin-top: 25px;">

                    </h3>
                    <ul class="page_margin_top clearfix" style="margin: 0; padding: 0;">
                        <li class="item_content clearfix">
                            <a class="thumb_image" href="#" title="">
                                <img src="{{ asset('template/images/samples/75x75/image_05.jpg') }}" alt="" />
                            </a>
                            <div class="text">
                                Casa Mayorga ofrece acompañamiento a los pacientes en el proceso de cuidado postoperatorio para garantizar una pronta recuperación y una disminución del dolor.
                                <!--<div class="item_footer clearfix">
                                    <a title="Read more" href="about.html" class="more">
                                        Read more &rarr;
                                    </a>
                                </div>-->
                            </div>
                        </li>
                        <li class="item_content clearfix">
                            <a class="thumb_image" href="#" title="">
                                <img src="{{ asset('template/images/samples/75x75/image_04.jpg')}}" alt="" />
                            </a>
                            <div class="text">
                                Asesoría a los usuarios para que puedan identificar sus necesidades particulares en materia de belleza y salud..
                                <!--<div class="item_footer clearfix">
                                    <a title="Read more" href="about.html" class="more">
                                        Read more &rarr;
                                    </a>
                                </div>-->
                            </div>
                        </li>
                        <li class="item_content clearfix">
                            <a class="thumb_image" href="#" title="">
                                <img src="{{ asset('template/images/samples/75x75/image_03.jpg ')}}" alt="" />
                            </a>
                            <div class="text">
                                Servicios de estética y cuidado postquirúrgico con el acompañamiento de nutricionista, fisioterapeuta y cirujano plástico, garantizando la bioseguridad y la capacitación permanente de todo el personal que aquí labora.
                                <!--<div class="item_footer clearfix">
                                    <a title="Read more" href="about.html" class="more">
                                        Read more &rarr;
                                    </a>
                                </div>-->
                            </div>
                        </li>
                        <li class="item_content clearfix">
                            <a class="thumb_image" href="#" title="">
                                <img src="{{ asset('template/images/samples/75x75/image_01.jpg ')}}" alt="" />
                            </a>
                            <div class="text">
                                Contamos con aparatología de alta gama, biomédica y estética, certificada para enfocarnos en cada situación particular y garantizar un excelente resultado
                                <!--<div class="item_footer clearfix">
                                    <a title="Read more" href="about.html" class="more">
                                        Read more &rarr;
                                    </a>
                                </div>-->
                            </div>
                        </li>
                        <li class="item_content clearfix">
                            <a class="thumb_image" href="#" title="">
                                <img src="{{ asset('template/images/samples/75x75/image_07.jpg ')}}" alt="" />
                            </a>
                            <div class="text">
                                Condiciones de infraestructura adecuadas con el cumplimiento de los estándares de calidad requeridos, los requisitos ambientales, de salud y seguridad en el trabajo y con estándares de responsabilidad social empresarial
                                <!--<div class="item_footer clearfix">
                                    <a title="Read more" href="about.html" class="more">
                                        Read more &rarr;
                                    </a>
                                </div>-->
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--
            <h3 class="box_header page_margin_top_section">
                Meet The Team
            </h3>
            <ul class="gallery">
                <li class="gallery_box">
                    <img src="images/samples/225x150/image_03.jpg" alt="" />
                    <div class="description">
                        <h3>
                            Ann Blyumin, Prof.
                        </h3>
                        <h5>
                            Pediatric Clinic
                        </h5>
                    </div>
                    <div class="item_details">
                        Donec sed odio dui. Nulla vitae elit libero, a pharetra augue.Duis mollis, est non commodo luctus.
                    </div>
                    <ul class="social_icons clearfix">
                        <li>
                            <a class="social_icon facebook" href="http://facebook.com/QuanticaLabs" title="">
                                &nbsp;
                            </a>
                        </li>
                        <li>
                            <a class="social_icon googleplus" href="#" title="">
                                &nbsp;
                            </a>
                        </li>
                        <li>
                            <a class="social_icon mail" href="mailto:medicenter@mail.com" title="">
                                &nbsp;
                            </a>
                        </li>
                        <li>
                            <a class="social_icon forrst" href="#" title="">
                                &nbsp;
                            </a>
                        </li>
                    </ul>
                    <ul class="controls">
                        <li>
                            <a href="doctors.html#gallery-details-1" class="open_details"></a>
                        </li>
                        <li>
                            <a href="images/samples/image_03.jpg" rel="team" class="fancybox open_lightbox"></a>
                        </li>
                    </ul>
                </li>
                <li class="gallery_box">
                    <img src="images/samples/225x150/image_01.jpg" alt="" />
                    <div class="description">
                        <h3>
                            Robert Brown, Prof.
                        </h3>
                        <h5>
                            Primary Health Care
                        </h5>
                    </div>
                    <div class="item_details">
                        Donec sed odio dui. Nulla vitae elit libero, a pharetra augue.Duis mollis, est non commodo luctus.
                    </div>
                    <ul class="social_icons clearfix">
                        <li>
                            <a class="social_icon facebook" href="http://facebook.com/QuanticaLabs" title="">
                                &nbsp;
                            </a>
                        </li>
                        <li>
                            <a class="social_icon googleplus" href="#" title="">
                                &nbsp;
                            </a>
                        </li>
                        <li>
                            <a class="social_icon linkedin" href="#" title="">
                                &nbsp;
                            </a>
                        </li>
                        <li>
                            <a class="social_icon xing" href="#" title="">
                                &nbsp;
                            </a>
                        </li>
                    </ul>
                    <ul class="controls">
                        <li>
                            <a href="doctors.html#gallery-details-2" class="open_details"></a>
                        </li>
                        <li>
                            <a href="images/samples/image_01.jpg" rel="team" class="fancybox open_lightbox"></a>
                        </li>
                    </ul>
                </li>
                <li class="gallery_box">
                    <img src="images/samples/225x150/image_02.jpg" alt="" />
                    <div class="description">
                        <h3>
                            Clare Mitchell, Prof.
                        </h3>
                        <h5>
                            Cardiac Clinic
                        </h5>
                    </div>
                    <div class="item_details">
                        Donec sed odio dui. Nulla vitae elit libero, a pharetra augue.Duis mollis, est non commodo luctus.
                    </div>
                    <ul class="social_icons clearfix">
                        <li>
                            <a class="social_icon twitter" href="https://twitter.com/QuanticaLabs" title="">
                                &nbsp;
                            </a>
                        </li>
                        <li>
                            <a class="social_icon mail" href="mailto:medicenter@mail.com" title="">
                                &nbsp;
                            </a>
                        </li>
                        <li>
                            <a class="social_icon myspace" href="#" title="">
                                &nbsp;
                            </a>
                        </li>
                    </ul>
                    <ul class="controls">
                        <li>
                            <a href="doctors.html#gallery-details-3" class="open_details"></a>
                        </li>
                        <li>
                            <a href="images/samples/image_02.jpg" rel="team" class="fancybox open_lightbox"></a>
                        </li>
                    </ul>
                </li>
                <li class="gallery_box">
                    <img src="images/samples/225x150/image_04.jpg" alt="" />
                    <div class="description">
                        <h3>
                            Earlene Milone, Prof.
                        </h3>
                        <h5>
                            Pediatric Clinic
                        </h5>
                    </div>
                    <div class="item_details">
                        Donec sed odio dui. Nulla vitae elit libero, a pharetra augue.Duis mollis, est non commodo luctus.
                    </div>
                    <ul class="social_icons clearfix">
                        <li>
                            <a class="social_icon facebook" href="http://www.facebook.com/QuanticaLabs" title="">
                                &nbsp;
                            </a>
                        </li>
                        <li>
                            <a class="social_icon twitter" href="https://twitter.com/QuanticaLabs" title="">
                                &nbsp;
                            </a>
                        </li>
                    </ul>
                    <ul class="controls">
                        <li>
                            <a href="doctors.html#gallery-details-4" class="open_details"></a>
                        </li>
                        <li>
                            <a href="images/samples/image_04.jpg" rel="team" class="fancybox open_lightbox"></a>
                        </li>
                    </ul>
                </li>
            </ul>-->
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}

{% endblock %}