<div class="footer_container">
    <div class="footer">
      <!--  <ul class="footer_banner_box_container clearfix">
            <li class="footer_banner_box super_light_blue animated_element animation-fadeIn duration-500">
                <h2>
                    Health Insurance
                </h2>
                <p>
                    <a class="icon_small_arrow right_white" href="#">Here in medicenter we have individual</a>
                </p>
            </li>
            <li class="footer_banner_box light_blue animated_element animation-slideRight duration-800 delay-250">
                <h2>
                    Medical Records
                </h2>
                <p>
                    <a class="icon_small_arrow right_white" href="#">Here in medicenter we have individual</a>
                </p>
            </li>
            <li class="footer_banner_box blue animated_element animation-slideRight200 duration-800 delay-500">
                <h2>
                    Online Bill Pay
                </h2>
                <p>
                    <a class="icon_small_arrow right_white" href="#">Here in medicenter we have individual</a>
                </p>
            </li>
        </ul>-->
        <br>
        <div class="footer_box_container clearfix">
            <div class="footer_box">
                <h3 class="box_header">
                    Nuestras Instalaciones
                </h3>
                <p class="info justify">
                    Encuentranos en la siguiente direccion o si gustas llamanos a los telefonos que aparecen a continuacion.
                </p>
                <ul class="footer_contact_info_container clearfix">
                    <li class="footer_contact_info_row">
                        <div class="footer_contact_info_left">
                            Casamayorga
                        </div>
                    </li>
                    <li class="footer_contact_info_row">
                        <div class="footer_contact_info_left">
                            Cra. 17 #13b-56 Alfonso Lopez
                        </div>
                    </li>
                    <li class="footer_contact_info_row">
                        <div class="footer_contact_info_left">
                            Tel: (5) 689323
                        </div>
                    </li>
                    <li class="footer_contact_info_row">
                        <div class="footer_contact_info_left">
                            <a href="mailto:medicenter@mail.com" title="Send Email">
                                recepcion@casamayorga.com
                            </a>
                        </div>

                    </li>
                </ul>
                <ul class="social_icons clearfix">
                    <li>
                        <a class="social_icon facebook" href="https://www.facebook.com/Casa-Mayorga-1705500439500435/" title="" target="_blank">
                            &nbsp;
                        </a>
                    </li>
                    <li>
                        <a class="social_icon twitter" href="" title="" target="_blank">
                            &nbsp;
                        </a>
                    </li>
                    <li>
                        <a class="social_icon googleplus" href="#" title="">
                            &nbsp;
                        </a>
                    </li>
                    <li>
                        <a class="social_icon mail" href="mailto:medicenter@mail.com" title="">
                            &nbsp;
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer_box">
                <div class="clearfix">
                    <div class="header_left">
                        <h3 class="box_header">
                            Testimonios
                        </h3>
                    </div>
                    <div class="header_right">
                        <a href="#" id="footer_recent_posts_prev" class="scrolling_list_control_left icon_small_arrow left_white"></a>
                        <a href="#" id="footer_recent_posts_next" class="scrolling_list_control_right icon_small_arrow right_white"></a>
                    </div>
                </div>
                <div class="scrolling_list_wrapper">
                    <ul class="scrolling_list footer_recent_posts">
                        <li class="icon_small_arrow right_white">
                            <a href="post.html">
                                Los metodos de terapia permitiero que regresara a las canchas.
                            </a>
                            <strong class="testimonial">Luis Gamarra</strong>
                            <abbr title="29 May 2017" class="timeago">29 May 2017</abbr>
                        </li>
                        <li class="icon_small_arrow right_white">
                            <a href="post.html">
                                Mi recuperacion fue exitosa excelente calidad en el servicio.
                            </a>
                            <strong class="testimonial">Martha Caseres</strong>
                            <abbr title="04 Apr 2017" class="timeago">04 Apr 2017</abbr>
                        </li>
                        <li class="icon_small_arrow right_white">
                            <a href="post.html">
                                La operacion me dejo con serias lesiones, que sanaron gracias a casamayorga
                            </a>
                            <strong class="testimonial">Jose Pallares</strong>
                            <abbr title="02 Feb 2016" class="timeago">02 Feb 2016</abbr>
                        </li>
                        <li class="icon_small_arrow right_white">
                            <a href="post.html">
                                Lorem ipsum dolor sit amat velum, consectetur adipiscing elit.
                            </a>
                            <abbr title="24 Jan 2011" class="timeago">24 Jan 2011</abbr>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer_box last">
                <div class="clearfix">
                    <div class="header_left">
                        <h3 class="box_header">
                            Gelocalizados en:
                        </h3>
                    </div>
                    <!--
                    <div class="header_right">
                        <a href="#" id="latest_tweets_prev" class="scrolling_list_control_left icon_small_arrow left_white"></a>
                        <a href="#" id="latest_tweets_next" class="scrolling_list_control_right icon_small_arrow right_white"></a>
                    </div>-->
                </div>
                <div class="scrolling_list_wrapper map" id="maps" style="width:200px; height: 200px">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3923.3356714155134!2d-73.25865548570494!3d10.474182467564967!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e8ab9c8fd73fef7%3A0x266b1ce9975010d2!2sCra.+17+%2313b-56%2C+Valledupar%2C+Cesar%2C+Colombia!5e0!3m2!1ses-419!2ses!4v1508751922570" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="copyright_area clearfix">
            <div class="copyright_left">
                © Copyright - <a href="#" title="Duvg Corporation" >duvgcorp</a> by <a href="#" title="Rubikapp S.A.S" target="_blank">Rubikapp S.A.S</a>
            </div>
            <div class="copyright_right">
                <a class="scroll_top icon_small_arrow top_white" href="#top" title="Scroll to top">Arriba</a>
            </div>
        </div>
    </div>
</div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIdWgv4x6DMjvFWCfIHeGKng-YJykOwKA&callback=initMap"></script>
<script>
    function initMap() {
        //,,17
        var uluru = {lat: 10.4740272, lng: -73.2563405};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 16,
            center: uluru,
            streetViewControl: true,
            mapTypeControl: true
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }
</script>