<div class="header_container">
    <div class="header clearfix">
        <div class="header_left">
            <a href="/" title="CASAMAYORGA">
                <img src="{{ asset('img/nlogo.png') }}" alt="logo"  style="width: 350px; margin-top: -30px;"/>
            </a>
        </div>
        <ul class="sf-menu header_right">
            <li class="submenu " id="selected">
                <a href="/" title="HOME">
                    INICIO
                </a>
            </li>
            <li class="submenu">
                <a href="{{ path('quienessomos') }}" title="Blog">
                    QUIENES SOMOS
                </a>

            </li>
            <li class="submenu">
                <a href="{{ path('servicios') }}" title="PAGES">
                    SERVICIOS
                </a>
                <!--
                <ul>
                    <li>
                        <a href="{{ path('construccion') }}" title="About">
                            About
                        </a>
                    </li>
                    <li>
                        <a href="doctors.html" title="Our Doctors">
                            Our Doctors
                        </a>
                    </li>
                    <li>
                        <a href="medical_care.html" title="Medical Care">
                            Medical Care
                        </a>
                    </li>
                    <li>
                        <a href="#" title="Shortcodes">
                            Shortcodes
                        </a>
                        <ul class="wide">
                            <li>
                                <a href="shortcodes.html#features-style" title="Features Styles">
                                    Features Styles
                                </a>
                            </li>
                            <li>
                                <a href="shortcodes.html#carousel" title="Carousel">
                                    Carousel
                                </a>
                            </li>
                            <li>
                                <a href="shortcodes.html#testimonials-announcement" title="Testimonials &amp; Announcement">
                                    Testimonials &amp; Announcement
                                </a>
                            </li>
                            <li>
                                <a href="shortcodes.html#accordiontab-notifications" title="Accordion &amp; Notifications">
                                    Accordion &amp; Notifications
                                </a>
                            </li>
                            <li>
                                <a href="shortcodes.html#tabs-quote" title="Tabs &amp; Quote">
                                    Tabs &amp; Quote
                                </a>
                            </li>
                            <li>
                                <a href="shortcodes.html#lists" title="Lists">
                                    Lists
                                </a>
                            </li>
                            <li>
                                <a href="shortcodes.html#icons" title="Icons">
                                    Icons
                                </a>
                            </li>
                            <li>
                                <a href="shortcodes.html#buttons-headings" title="Buttons &amp; Headings">
                                    Buttons &amp; Headings
                                </a>
                            </li>
                            <li>
                                <a href="shortcodes.html#columns" title="Columns &amp; Code">
                                    Columns &amp; Code
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="404.html" title="404 Not Found">
                            404 Not Found
                        </a>
                    </li>
                </ul>-->
            </li>
            <li class="submenu">
                <a href="{{ path('productos') }}" title="Gallery">
                    GALLERIA
                </a>
                <!--
                <ul style="margin-left: -100px;">
                    <li>
                        <a href="gallery_2_columns.html" title="2 Columns">
                            2 Columns
                        </a>
                    </li>
                    <li>
                        <a href="gallery_3_columns.html" title="3 Columns">
                            3 Columns
                        </a>
                    </li>
                    <li>
                        <a href="gallery_4_columns.html" title="4 Columns">
                            4 Columns
                        </a>
                    </li>
                    <li>
                        <a href="gallery_with_sidebar.html" title="With Sidebar">
                            With Sidebar
                        </a>
                    </li>
                </ul>-->
            </li>
            <li class="submenu">
                <a href="{{ path('pqrs') }}" title="CONTACT">
                    PQRS
                </a>
            </li>
            <li class="submenu">
                <a href="{{ path('contactar') }}" title="CONTACT">
                    CONTACTAR
                </a>
            </li>
            <li class="submenu">
                <a href="admin" title="CONTACT">
                    ENTRAR
                </a>
            </li>
        </ul>

        <div class="mobile_menu">
            <select>
<!--                <option value="/" selected="selected">HOME</option>-->
                <option value="/">- Inicio</option>
                <option value="{{ path('quienessomos') }}">- Quienes Somos</option>
                <option value="{{ path('servicios') }}">- Servicios</option>
                <option value="{{ path('productos') }}l">- Galeria</option>
                <option value="{{ path('contactar') }}">- Contactar</option>

            </select>
        </div>
    </div>
</div>
