
<!-- slider -->
<ul class="slider">
    <li style="background-image: url('{{ asset("template/images/slider/img1.jpg") }}');">
        &nbsp;
    </li>
    <li style="background-image: url('{{ asset("template/images/slider/img2.jpg") }}');">
        &nbsp;
    </li>
    <li style="background-image: url('{{ asset("template/images/slider/img3.jpg") }}');">
        &nbsp;
    </li>
</ul>